﻿

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
       opacity: 1;
    }
}



::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(121,122,125,0.7);
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 6px;
    border-radius: 6px;
    background: rgba(0, 0, 0,.5);
    -webkit-box-shadow: inset 0 0 4px rgba(121,122,125,0.7);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(121,122,125, 0.7);
}







html,body
{
    padding: 0;
    margin: 0;
    height:100%;

    cursor:default;
    min-width:400px;
    min-height: 400px;
    overflow:auto;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: hidden;

}

input,div,button
{
    outline: none;

}

input[type="search"]
{
    border: 2px solid #85888a;

}



input:not([disabled]):not([type="submit"]):not([type="search"]):not([type="button"])
{
    background-color: #dae3ee;
    transition: background-color .2s;
    color: #5c5f62 !important;
}

input:not([disabled]):not([type="submit"]):not([type="search"]):not([type="button"]):hover
{
    background-color: #e7edf4;
    transition: background-color .2s;
}

input:not([disabled]):not([type="submit"]):not([type="search"]):not([type="button"]):focus
{
    background-color: #ffffff;
    transition: background-color .2s;
}



body *
{

    -webkit-user-select: none;
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}


img
{

    -webkit-user-select: none;
    -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
}


.show_screen .loader_wrap {
    width: 400px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    top: calc(50% - 200px);
    position: relative;


}

.show_screen .loader_wrap .loader_form {
    width: 350px;
    height: 350px;
    margin: 25px;
    box-sizing: border-box;

}

.show_screen .loader_wrap .loader_form .logo {

    width: 130px;
    height: 130px;
    margin: 0px 110px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
    background-image:none;

}




progress {

    height: 6px !important;
}


.user_notifications {

    width:65px;
    height:65px;
    background-color:white;
    border-radius:50%;
    color:white;
    position:absolute;
    top:30px;
    float:right;
    border:2px solid orange;
    box-sizing:border-box;
    opacity:0.6;
    left:calc(100% - 150px);
    text-align:center;
    line-height:60px;
    font-family:Arial;
    color:rgba(250, 108, 0, 1);
    font-size:24px;
    transition:opacity 1s;
    cursor:pointer;
    box-shadow:         0px 5px 25px 0px rgba(250, 108, 0, 1);
    

}




.user_notifications:hover {

    opacity:1;
}

.show_screen .loader_wrap .loader_form input {

    width: 350px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding: 4px;
    margin: 15px 0px;

}

.show_screen .loader_wrap .loader_form progress {

    width: 350px;
    color: white;
    visibility: visible;
    margin-top: 64px;

}



body > .app_container
{
    position: static;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 1px solid rgba(0,0,0,0);

    background-color: transparent;
}


body > .app_container .main_alert_box
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.5);
    position: absolute !important;
    top: 0px;
    left: 0px;
    z-index: 999999;
    -webkit-animation-name: fade;
    -webkit-animation-duration: .1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;

}


body > .app_container .main_alert_box .alert_box
{
    height: 120px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    top: 50%;
    margin-top: -50px;
    background-color: #ffffff;
}


body > .app_container .main_alert_box .alert_box .alert_content
{
    width: 40%;
    min-width: 400px;
    height: 120px;
    padding: 7px;
    margin: auto;
    box-sizing: border-box;

}

body > .app_container .main_alert_box .alert_box .alert_content .alert_message
{
    width: 100%;
    height: 50px;
    padding: 8px 5px;
    box-sizing: border-box;
    font-family: Arial;
    letter-spacing: 1px;
    font-weight:normal !important;
    font-family: Arial;
    font-size: 14px;
}

body > .app_container .main_alert_box .alert_box .alert_content .alert_close_button
{
    width: 100%;
    height: 50px;
    padding: 8px 5px;
    margin-top: 10px;
    box-sizing: border-box;

}

body > .app_container .main_alert_box .alert_box .alert_content .alert_close_button button
{
    width: 85px;
    height: 35px;
    border: 2.4px solid #4774A8;
    background-color: #4774A8;
    float: right;
    cursor: pointer;
    outline: none;
    color: #ffffff;
    font-family: Arial;
    font-weight: 700;
    letter-spacing: 0.5px;

}

body > .app_container .main_alert_box .alert_box .alert_content .alert_close_button button:hover
{
    background-color: #7495bb;
}

body > .app_container .main_alert_box .alert_box .alert_content .alert_close_button button:active
{
    background-color: #000000;
    color: #ffffff;
    border-color: #000000;
}










@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot');
    src: url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'), url('../fonts/icomoon.woff') format('woff'), url('../fonts/icomoon.ttf') format('truetype'), url('../fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal
}

[data-icon]:before {
    font-family: 'icomoon';
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased
}


.active_scale
{
    transform: scale(0.97,0.97);
}

/*PUSH WHEN SHOW*/

@-webkit-keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes hvr-push {
    50% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.hvr-push {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: hvr-push;
    animation-name: hvr-push;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


/*/PUSH*/





/*buzz-out NEW MESSAGE SHOW*/
.hvr-buzz-out {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}


@-webkit-keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

@keyframes hvr-buzz-out {
    10% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    20% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    30% {
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }

    40% {
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }

    50% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    60% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    70% {
        -webkit-transform: translateX(2px) rotate(1deg);
        transform: translateX(2px) rotate(1deg);
    }

    80% {
        -webkit-transform: translateX(-2px) rotate(-1deg);
        transform: translateX(-2px) rotate(-1deg);
    }

    90% {
        -webkit-transform: translateX(1px) rotate(0);
        transform: translateX(1px) rotate(0);
    }

    100% {
        -webkit-transform: translateX(-1px) rotate(0);
        transform: translateX(-1px) rotate(0);
    }
}

/*buzz-out*/





/* Wobble Horizontal NEW MESSAGE WRITE */
@-webkit-keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes hvr-wobble-horizontal {
    16.65% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    33.3% {
        -webkit-transform: translateX(-6px);
        transform: translateX(-6px);
    }

    49.95% {
        -webkit-transform: translateX(4px);
        transform: translateX(4px);
    }

    66.6% {
        -webkit-transform: translateX(-2px);
        transform: translateX(-2px);
    }

    83.25% {
        -webkit-transform: translateX(1px);
        transform: translateX(1px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.hvr-wobble-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-animation-name: hvr-wobble-horizontal;
    animation-name: hvr-wobble-horizontal;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
}
/* Wobble Horizontal*/



@keyframes padding_block {
    0% {
        padding-top: 95px;
    }

    100% {
        padding-top: 0px;
    }
}

@-webkit-keyframes  padding_block {
    0% {
        padding-top: 95px;
    }

    100% {
        padding-top: 0px;
    }
}

.padding_block_animation
{
    -webkit-animation-name: padding_block;
    -webkit-animation-duration: .4s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}



@keyframes margin_block {
    0% {
        margin-top: 25px;
    }

    100% {
        padding-top: 0px;
    }
}

.margin_block_animation
{
    animation: margin_block .7s;
}

.module_loader
{
    width: calc(100% - 355px);
    position: absolute;
    float: left;
    margin-left: 350px;

}


.getCameraPicturePopup
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #000000;
    z-index: 9999999;
    position: absolute;
    top:0px;
    left: 0px;
}

.getCameraPicturePopup  .top_popup_camera {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    top:0px;
    left: 0px;
    z-index: 99999;

}

.getCameraPicturePopup .top_popup_camera>button
{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    line-height: 38px;
    padding-right: 1px;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 5px;
    z-index: 999999;
}


.getCameraPicturePopup  .bottom_popup_camera {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    margin-top: -60px;
    top:100%;
    left: 0px;

}

.getCameraPicturePopup .bottom_popup_camera>div
{
    color: #ffffff;
    border: 2px solid #ffffff;
    border-radius: 50%;
    float: right;
    line-height: 38px;
    padding-right: 1px;
    cursor: pointer;
    margin-top: 8px;
    color: #ffffff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    margin-right: 25px;
}
