﻿@keyframes show_from_right {
    0% {
        left: 80%;
    }

    100% {
        left: 0px;
    }
}

@-webkit-keyframes show_from_right {
    0% {
        left: 80%;
    }

    100% {
        left: 0px;
    }
}


.login_wrap {
    width: 400px;
    height: 400px;
    margin: auto;
    box-sizing: border-box;
    top: calc(50% - 200px);
    position: relative;


}


.show_from_right_login_wrap
{
    -webkit-animation-name: show_from_right;
    -webkit-animation-duration: .7s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;

}

.login_wrap .login_form {
    width: 350px;
    height: 350px;
    margin: 25px;
    box-sizing: border-box;

}

.login_wrap .login_form .logo {

    width: 130px;
    height: 130px;
    margin: 0px 110px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-image: url('../../../images/iconLogin.svg');
    background-position: center;
    background-size: 100%;

}
.login_wrap .login_form .rounded
{
    border: 3px solid white;
    border-radius: 50%;
    background-color: white;
}


.login_wrap .login_form input {

    width: 350px;
    height: 40px;
    box-sizing: border-box;
    border: none;
    padding: 4px;
    margin: 15px 0px;

}

.login_wrap .login_form progress {

    width: 350px;
    color: white;
    visibility: hidden;

}

.login_wrap .login_form input[type=button] {

    color: white;
    background-color: #406A99 !important;
    transition: background-color 1s;
    cursor: pointer;

}

.login_wrap .login_form input[type=button]:hover {
    background-color: #335497 !important;
}



