﻿<div class="notifications_top">

    <div class="notifications_title">Уведомления</div>
    <div class="notifications_logo"></div>

</div>

<div class="notifications_wrap">
    {{for ~notifications}}
    <div class="notification_it" data-message="{{:id}}">

        {{:message}}
    </div>
    {{/for}}
</div>