﻿@keyframes show_from_right_second_block {
    0% {
        left: 295px;
    }

    100% {
        left: 0px;
    }
}

@-webkit-keyframes  show_from_right_second_block {
    0% {
        left: 295px;
    }

    100% {
        left: 0px;
    }
}








.main .top {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
}

.main .blocks {
    width: 100%;
    height: calc(100% - 50px);
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;



}

.main .blocks > div
{
    min-width: 760px;
    height: 100%;
}

.main .blocks .first_block {

    width: 350px;
    height: 100%;
    box-sizing: border-box;
    float: left;

}

.main .blocks .second_block {
    width: calc(100% - 350px);

    height: 100%;
    position: relative;
    box-sizing: border-box;
    background-color:#EDF2F7;

    float: left;
}

.show_from_right_second_block
{
    animation: show_from_right_second_block 0.8s;
    -webkit-animation-name: show_from_right_second_block;
    -webkit-animation-duration: .45s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}

.main .blocks .second_block .friends{

    height: 270px;
    box-sizing: border-box;
   overflow: hidden;

}

.main .blocks .second_block .wall{

    height: calc(100% - 270px);
    box-sizing: border-box;

    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;

}