﻿<div class="top_wrap">
    <div class="nickname" data-animation="show_from_right_top_nickname">{{:nickname}}</div>
    <div class="settings_button" data-scale="true"><span data-icon="&#xe63b;"></span></div>
</div>
