﻿<div class="user_friends_wrap">
    <div class="title">Мои друзья</div>
    <div class="friendslist">
        <div class="friends_wrap">


            {{for ~friends}}
            <div data-title="{{:nickname}}" data-login="{{:login}}" data-id="{{:id}}" class="friend_it" data-scale="true" {{:~getimgurl(avatar)}}>
                <span></span>
            </div>
            {{/for}}



        </div>
    </div>
</div>