﻿<div class="top"></div>
<div class="blocks">
    <div>
    <div class="first_block" ></div>
    <div class="second_block" data-animation="show_from_right_second_block">
        <div class="friends"></div>
        <div class="wall"></div>
    </div>
    </div>
</div>
