﻿<div class="leftpanel">
    <div class="in_user"></div>
    <div class="search"></div>
    <div class="dialogs" data-animation="padding_block_animation"></div>
    <div class="adds">
<iframe src="http://instantchat.esy.es/ads.html" style="width: 100%;height: 100%"></iframe>

    </div>
</div>

<div class="main">


</div>