﻿<div class="login_wrap" data-animation="show_from_right_login_wrap">

    <div class="login_form">

        <div class="logo"></div>
        <input class="user_login" type="text" placeholder="Логин или E-Mail"/>
        <input class="user_password"   type="password" placeholder="Пароль"/>
        <progress></progress>
        <input data-scale="true" class="submit_login" data-scale="1" type="button" value="Вход">
    </div>

</div>