﻿@keyframes show_from_right_first_block {
    0% {
        left: 195px;
    }

    100% {
        left: 0px;
    }
}
@-webkit-keyframes  show_from_right_first_block {
0% {
    left: 195px;
}

100% {
    left: 0px;
}
}

.main .blocks .first_block .user_data_wrap {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    background-color: #EDF2F7;
    margin: 0px 25px;
    padding: 5px 0px 0px 0px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.show_from_right_first_block
{

    -webkit-animation-name: show_from_right_first_block;
    -webkit-animation-duration: .45s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
}


.main .blocks .first_block .user_data_wrap .points {
    width: 270px;
    height: 55px;
    margin: 0px 15px 5px 15px;
    overflow: hidden;

}

.main .blocks .first_block .user_data_wrap .points table {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;

}

.main .blocks .first_block .user_data_wrap .points table .karma {
    background-color: #427F00;
    width: 50%;
}

.main .blocks .first_block .user_data_wrap .points .raiting {
    background-color: #4A73A7;
    width: 50%;
}

.main .blocks .first_block .user_data_wrap .avatar {
    width: 270px;
    height:auto;
    max-height: 350px;
    margin: 0px 15px;
    overflow: hidden;

}




.main .blocks .first_block .user_data_wrap .avatar > img {
    width: 270px;

    position: relative;

}

.main .blocks .first_block .user_data_wrap .change_avatar {
    width: 270px;
    height: 100px;
    margin: 5px 15px;
    overflow: hidden;

}

.main .blocks .first_block .user_data_wrap .change_avatar table {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: #959595;
    font-size: 64px;
    padding: 0px;
}

.main .blocks .first_block .user_data_wrap .change_avatar table td {
    cursor: pointer;
    transition: color 1s;
    padding-top: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;


}



.main .blocks .first_block .user_data_wrap .change_avatar table td:hover {
    color: #686868;
}

.main .blocks .first_block .user_data_wrap .change_avatar table .from_file {
    width: 50%;
    border-right: 1px solid #959595;
    padding-top: 12px;

}

.main .blocks .first_block .user_data_wrap .change_avatar table .camera {
    width: 50%;
    transition: color 1s;
}

.main .blocks .first_block .user_data_wrap .user_short_data {
    width: 270px;
    height: auto;
    margin: 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;

}

.main .blocks .first_block .user_data_wrap .user_short_data div {
    margin: 9px 6px;
    font-size: 16px;
    color: #608FC1;
    word-break: keep-all;
}

.main .blocks .first_block .user_data_wrap .navigation {
    width: 270px;
    height: 25px;
    /*background-color: white;*/
    margin: 5px 15px 0px 15px;
    overflow: hidden;

}
