﻿.main .messages_box {
    width: 98%;
    margin-left: 1%;
    height: calc(100% - 250px);
    box-sizing: border-box;
}




.main .messages_box .openleftpanel
{
    width:24px;
    height: 24px;
    float: left;
    box-sizing: border-box;
    margin-top: 13px;
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 24px 24px;
    background-image: url("../../../images/menu.png");
    display: none;
    position: absolute;
}
.messages_box .with_user_msg {
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    margin: 0px 10px;
    float: left;
    word-break: normal;
    color: #335497;
    padding: 0px 10px;
}

.messages_box .with_user_msg .with_user_avatar {
    height: 180px;
    width: 130px;

    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7px;

}

.messages_box .messages_list {
    width: calc(100% - 340px);
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
    float: left;
}

.messages_box .messages_list .show_messages {
    width: 100%;
    height: calc(100% - 15px);
    box-sizing: border-box;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px 250px;

    -ms-overflow-style: none;
}

.messages_box .messages_list .show_messages .message_it {

    width: auto;
    height: auto;
    border-radius: 3px;
    max-width: 60%;
    clear: both;
    padding: 10px;
    float: left;
    margin: 15px 8px;
    color: #464646;
    background-color: #F5F6F7;
    transition: opacity 1s;

}
.messages_box .messages_list .show_messages .dont_sended
{
    opacity: 0.55;
}


.messages_box .messages_list .show_messages .right
{
    float: right;
    text-align: left;
    background-color: #3E65B3;
    color: white;

}


#triangle-left {
    width: 0px;
    height: 0px;
    border-top: 9px solid transparent;
    border-right: 18px solid #F5F6F7;
    border-bottom: 9px solid transparent;
    position: relative;
    margin-left: -18px;
    margin-top: -10px;
    float: left;
}


#triangle-right {
    width: 0px;
    height: 0px;
    border-top: 9px solid transparent;
    border-left: 18px solid #3E65B3;
    position: relative;
    margin-right: -20px;
    margin-top: -10px;
    float: right;
    border-bottom: 9px solid transparent;
}

.messages_box .messages_list .progress_bar {
    width: 100%;
    height: 15px;
    box-sizing: border-box;
}

.messages_box .messages_list .hiddenProgress
{
    visibility: hidden !important;
}


.messages_box .messages_list .progress_bar progress {
    width: 60%;
    margin-left: 20%;
    color: #6081A6;

}

.messages_box .in_user_msg {
    width: 150px;
    height: 100%;
    box-sizing: border-box;
    margin: 0px 10px;
    float: left;
    word-break: normal;
    color: #335497;
    padding: 0px 10px;
}

.messages_box .in_user_msg .with_user_avatar {
    height: 180px;
    width: 130px;

    box-sizing: border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 7px;

}

.input_box {
    width: 98%;
    height: 230px;
    margin: 10px 1%;
    box-sizing: border-box;
}

.input_box .text_message {
    width: calc(100% - 440px);
    height: 110px;
    border: 2px solid #464646;
    padding: 10px;
    word-break: break-all;
    margin-left: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    float: left;
}


.main .input_box .text_message:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    color: gray;
}


.input_box .send {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #464646;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 10px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
    cursor: pointer;
    float: left;
}

.input_box .attach {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    border: 2px solid #464646;
    border-radius: 50%;
    margin-top: 35px;
    margin-left: 165px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
    cursor: pointer;
    float: left;
}

.input_box .smilies {
    width: 100%;
    height: 100px;
    margin-top: 5px;
    box-sizing: border-box;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    overflow-y: hidden;
}

.input_box .smilies > div {
    height: 100px;
}



.input_box .smilies > div .smile_it {
    height: 40px;
    width: 40px;
    margin: 2px 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-sizing: border-box;
}

