﻿.leftpanel .in_user .user_wrap
{
    width: 100%;
    height: 60px;
    margin: 0px 0px ;
    box-sizing: border-box;
    background-color: #EDF2F7;
    cursor: pointer;
}

.leftpanel .in_user .user_wrap:hover {
    background-color: #DAE1E8;
    border-right: 3px solid #6081A6;

}

.leftpanel .in_user .active {

    border-right: 3px solid #6081A6;

}

.leftpanel .in_user .user_wrap .avatar
{
    width: 50px;
    height: 50px;
    margin: 5px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 1px solid white;
    border-radius: 3px;
    float: left;
}

.leftpanel .in_user .user_wrap .nickname
{
    width: 280px;
    height: 30px;
    box-sizing: border-box;
    color: #6081A6;
    padding-left: 9px;
    padding-top: 5px;
    float: left;
}
.leftpanel .in_user .user_wrap .flogdate
{
    width: 280px;
    height: 28px;
    color: #6081A6;
    padding-left: 9px;
    padding-top: 2px;
    box-sizing: border-box;
    float: left;
}

