﻿.main .blocks .second_block .friends .user_friends_wrap
{

    width: 100%;
    height: 270px;
    box-sizing: border-box;

}
.main .blocks .second_block .friends .user_friends_wrap .title
{
    height: 40px;
    box-sizing: border-box;
    color: #6081A6;
    padding-left: 15px;
    line-height: 40px;
}


.main .blocks .second_block .friends .user_friends_wrap .friendslist {
    height: 225px;
    width: calc(100% - 30px);
    margin-left: 15px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
    /*background-color: white;*/
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
}
.main .blocks .second_block .friends .user_friends_wrap .friendslist .friends_wrap
{
    height: inherit;
}


.main .blocks .second_block .friends .user_friends_wrap .friendslist .friends_wrap .friend_it {
    width: 150px;
    height: 200px;
    border: 2px solid white;
    box-sizing: border-box;
    float: left;
    border-radius: 3px;
    margin: 5px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    padding: 5px;
    color: #464646;
}
.main .blocks .second_block .friends .user_friends_wrap .friendslist .friends_wrap .friend_it:hover {

    border: 2px solid #B4B6B8;
}
