﻿.main .blocks .second_block .wall .user_wall_wrap
{

    width: 100%;
    height: 100%;
    box-sizing: border-box;

}
.main .blocks .second_block .wall .user_wall_wrap .title
{
    height: 40px;
    box-sizing: border-box;
    color: #6081A6;
    padding-left: 15px;
    line-height: 40px;
    width: 70%;
    float: left;
}

.main .blocks .second_block .wall .user_wall_wrap .add_wall_post
{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #3A4859;
    color: #3A4859;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    float: right;
    margin: 12px 22px 7px 0px;
}





.main .blocks .second_block .wall .user_wall_wrap .walllist {
    height: calc(100% - 40px);
    width: calc(100% - 30px);
    margin-left: 15px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
    /*background-color: white;*/
    overflow-x: auto;
    overflow-y: hidden;
    /*-ms-overflow-style:  -ms-autohiding-scrollbar;*/
    -ms-overflow-style: none;
}


.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap
{
    height: 100%;
}

.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it {
    width: 350px;
    height: calc(100% - 35px);
    box-sizing: border-box;
    float: left;
    border-radius: 3px;
    margin: 10px 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
    background-color: white;
    border: 2px solid white;
    color: #464646;

}



.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it:hover
{
    border: 2px solid #B4B6B8;
}

.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info
{
    height: 70px;
    width: calc(100% - 25px);
    box-sizing: border-box;
    padding: 7px;
    float: left;
}

.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it .wall_settings
{
    width: 25px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    line-height: 40px;
    color: #3A4859;
    cursor: pointer;
    font-size: 20px;
}






.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it .wall_content
{
    height: calc(100% - 80px);
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    overflow: auto;
    padding: 7px;
    overflow-x: hidden;
}

.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info .from_us_avatar
{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;

}

.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info .from_us_nickname
{
    width: 200px;
    height: 20px;
    margin-left: 12px;
    color: #78A0CB;
    float: left;
}

.main .blocks .second_block .wall .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info .pubdate
{
    width: 200px;
    height: 20px;
    margin-top: 5px;
    margin-left: 12px;
    color: #78A0CB;
    float: left;
}


#AddWallPostContent
{
    width: 400px;
    height: 350px;
    padding: 0px;
}


#AddWallPostContent .wall_add_content
{
    width: 400px;
    height: 210px;
    padding: 10px 20px 10px 10px;
    word-break: keep-all;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #959595;

}





#AddWallPostContent .wall_add_content:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    color: gray;
}


#AddWallPostContent .smilies
{
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
}

#AddWallPostContent .smilies .smilieslist
{
    height: 100px;
}

#AddWallPostContent .smilies .smilieslist .smile_it
{
    height: 40px;
    width: 40px;
    margin: 2px 5px;
    float: left;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    box-sizing: border-box;
}

#AddWallPostContent .set_wall_post
{
    float: right;
    margin: 3px 5px;
}

#AddWallPostContent .attacha_from_file
{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    font-size: 24px;
    color: #959595;
    line-height: 40px;
}

#AddWallPostContent .attacha_from_file:hover
{
    background-color:#F5F6F7 !important;
    color: #464646;
}

#AddWallPostContent .attacha_from_camera
{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-size: 24px;
    text-align: center;
    float: left;
    line-height: 38px;
    color: #959595;
    margin-left: 10px;

}

#AddWallPostContent .attacha_from_camera:hover
{
    background-color:#F5F6F7 !important;
    color: #464646;
}

#AddWallPostContent .attacha_file
{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    font-size: 18px;
    padding-top: 2px;
    text-align: center;
    float: left;
    line-height: 38px;
    color: #959595;
    margin-left: 10px;

}

#AddWallPostContent .attacha_file:hover
{
    background-color:#F5F6F7 !important;
    color: #464646;
}


