﻿{{for ~friend_data}}



<div class="friend_data_wrap">

<div class="top_friend_info">

    <div class="friend_left_info">
    <div class="friend_info_nickname">{{:nickname}}</div>
     <div class="friend_info_flogdate">{{:flogdate}}</div>
        </div>
    <!--- div class="add_wall_post_friend" title="Написать на стене {{:nickname}}" --->

        

    </!--->
</div>

   
    <div class="points" >
        <table>
            <tr>
                <td title="Карма" class="karma">{{:karma}}</td>
                <td title="Рейтинг" class="raiting">{{:rating}}</td>
            </tr>
        </table>
    </div>
    <div class="avatar" >
      
               
        <img unselectable="on"   {{:~getimgsrc(avatar)}}/>
    </div>
 
    <div class="user_short_data" >
        {{if status}}
        <div>
            <span data-icon="&#xe699;"></span>&nbsp;&nbsp;
            <span>{{:status}}</span>

        </div>
        {{/if}}

        {{if email}}
        <div>
            <span data-icon="&#xe6da;"></span>&nbsp;&nbsp;
            <span>{{:email}}</span>

        </div>
        {{/if}}

        {{if city}}
        <div>
            <span data-icon="&#xe6d1;"></span>&nbsp;&nbsp;
            <span>{{:city}}</span>

        </div>
        {{/if}}

        {{if fbirthdate}}
        <div>
            <span data-icon="&#xe679;"></span>&nbsp;&nbsp;
            <span>{{:fbirthdate}}</span>

        </div>
        {{/if}}

        {{if phone}}
        <div>
            <span data-icon="&#xe6f4;"></span>&nbsp;&nbsp;
            <span>{{:phone}}</span>

        </div>
        {{/if}}
        {{if icq}}
        <div>
            <span data-icon="&#xe763;"></span>&nbsp;&nbsp;
            <span>{{:icq}}</span>

        </div>
        {{/if}}

    </div>

    <div class="user_friends_wrap">
    <div class="title">Мои друзья</div>
    <div class="friendslist">
        <div class="friends_wrap">


            {{for ~friendlist}}
            
            <div data-title="{{:nickname}}" title="{{:nickname}}" data-login="{{:login}}" data-id="{{:id}}" class="friend_it" data-scale="true" {{:~getimgurl(avatar)}}>
                <span></span>
            </div>
            {{/for}}



        </div>
    </div>
</div>



    <div class="user_wall_wrap">
    <div class="title">Стена пользователя</div>
     <div class="walllist">
        <div class="wall_wrap">

            {{for ~walllist}}
                <div class="wall_it" data-id="{{:id}}">
                    
                    <div class="wall_info">
                        <div class="from_us_avatar" style="background-image: url({{:~HostUrl}}{{:avatar}})"></div>
                        <div class="from_us_nickname">{{:author}}</div>
                        <div class="pubdate">{{:fpubdate}}</div>
                        <div style="clear: both"></div>
                    </div>

                    
                    <div class="wall_content">
                        {{:content}}
                    </div>


                </div>
            {{/for}}




        </div>
    </div>
</div>
   
   
</div>






{{/for}}

