﻿<div class="user_wall_wrap">
    <div class="title">Стена пользователя</div>
    <div class="add_wall_post" id="add_post" data-scale="true">
        <span data-icon="&#xe6f3;"></span>
    </div>
    <div class="walllist">
        <div class="wall_wrap">

            {{for ~wall}}
                <div class="wall_it" data-id="{{:id}}">
                    
                    <div class="wall_info">
                        <div class="from_us_avatar" style="background-image: url({{:~HostUrl}}{{:avatar}})"></div>
                        <div class="from_us_nickname">{{:author}}</div>
                        <div class="pubdate">{{:fpubdate}}</div>
                        <div style="clear: both"></div>
                    </div>

                    <div class="wall_settings" data-scale="true" data-id="{{:id}}">
                        <span data-icon="&#xe63c;"></span>
                    </div>

                    <div class="wall_content">
                        {{:content}}
                    </div>


                </div>
            {{/for}}




        </div>
    </div>
</div>


<div id="AddWallPostContent"  data-win-control="WinJS.UI.Flyout">
    <div class="smilies">

        <div class="smilieslist">
            {{for ~smilies}}
            <div  data-scale="true" class="smile_it" data-url = "images/smilies/{{:name}}.gif" style="background-image: url(images/smilies/{{:name}}.gif)">
            </div>
            {{/for}}
        </div>
    </div>
   <div data-placeholder="Введите текст..." class="wall_add_content" contenteditable="true">

   </div>
    <div class="attacha_from_file" data-scale="true">
        <span data-icon="&#xe90d;"></span>
    </div>
    <div class="attacha_from_camera" data-scale="true">
        <span data-icon="&#xe90f;"></span>
    </div>
    <!--- div class="attacha_file" data-scale="true">
            <span data-icon="&#xe666;"></span>
    </div-->


    <button class="win-button set_wall_post" >Опубликовать</button>
</div>


