<div class="main_alert_box">

    <div class="alert_box">
        <div class="alert_content">
    <div class="alert_message">
       {{:~message}}
    </div>
    <div class="alert_close_button">
        <button value="Закрыть">Закрыть</button>
    </div>
        </div>
    </div>

</div>