<div class="getCameraPicturePopup">
<div class="top_popup_camera">
    <button id="backButton" class="win-backbutton"></button>
</div>
<video style="margin:0px auto;display: block" autoplay></video>
<canvas style="margin:0px auto;display:none;"></canvas>
    <div class="bottom_popup_camera">
        <div id="take_photo">
            <span data-icon="&#xe90f;"></span>
        </div>
    </div>
</div>
