﻿<div class="loader_wrap">

    <div class="loader_form">
      
        <div  {{:~avatar}} class="logo">
        </div>
       
       
        

        <progress></progress>

    </div>

</div>