<div id="menu1" data-win-control="WinJS.UI.Menu">

    {{for  ~context}}
    <button onclick='{{:function}}' data-win-control="WinJS.UI.MenuCommand" data-win-options="{label:'{{:title}}', type:'button'}"></button>
    {{/for}}





</div>