﻿<div class="messages_box">

    <div class="with_user_msg" data-animation="padding_block_animation">

        {{for ~with_user}}
        <div class="with_user_avatar"  style="background-image: url({{:~HostUrl}}{{:with_user_avatar}})"></div>
        <div class="with_user_nickname">{{:with_user_nickname}}</div>
        <div class="with_user_status">{{:with_user_status}}</div>
        {{/for}}

    </div>

    <div class="messages_list">
        <div class="progress_bar">
            <progress></progress>
        </div>
        <div class="show_messages">


        </div>


    </div>

    <div class="in_user_msg">
        {{for ~in_user}}
        <div class="with_user_avatar" style="background-image: url({{:~HostUrl}}{{:in_user_avatar}})"></div>
        <div class="with_user_nickname">{{:in_user_nickname}}</div>
        <div class="with_user_status">{{:in_user_status}}</div>
        {{/for}}
    </div>




</div>

<div class="input_box">

    <div class="attach" data-scale="true" style="background-image: url(images/file.png)"></div>


    <div data-placeholder="Введите текст сообщения..." contenteditable="true" class="text_message" spellcheck='false'></div>

    <div title="Ctrl+Enter" class="send" data-scale="true" style="background-image: url(images/send.png)"></div>

    <div class="smilies">
        <div>
            {{for ~smilies}}
            <div class="smile_it" data-url = "images/smilies/{{:name}}.gif" style="background-image: url(images/smilies/{{:name}}.gif)">

            </div>
            {{/for}}

        </div>
    </div>


</div>