﻿<div title="{{:senddate}}" class="{{:~hvr}} message_it{{if ~in_us_id == from_id}} right  {{/if}}">

    {{if ~in_us_id == from_id}}
    <div id="triangle-right"></div>
    {{/if}}
    {{if ~in_us_id !== from_id}}
    <div id="triangle-left"></div>
    {{/if}}


    <div class="message_text">{{:message}}</div>


</div>

<div style="height: 15px;clear:both;visibility: hidden"></div>
