﻿<div class="user_wrap active" data-scale="true">
   
    
    <div   class="avatar" {{:~getimgurl(avatar)}}></div>
    <div class="nickname">{{:nickname}}</div>
    <div class="flogdate">{{:flogdate}}</div>

</div>