﻿<div class="user_data_wrap" data-animation="show_from_right_first_block">
    <div class="points" >
        <table>
            <tr>
                <td title="Карма" class="karma">{{:karma}}</td>
                <td title="Рейтинг" class="raiting">{{:rating}}</td>
            </tr>
        </table>
    </div>
    <div class="avatar" >
      <img unselectable="on"   {{:~getimgsrc(avatar)}}/>
    </div>
    <div class="change_avatar">
        <table>
            <tr>
                <td title="Из файлов" class="from_file">

                    <span data-scale="true" data-icon="&#xe90d;"></span>
                </td>
                <td title="C камеры" class="camera">

                    <span data-scale="true" data-icon="&#xe90f;"></span>
                </td>
            </tr>
        </table>
    </div>
    <div class="user_short_data" >
        <div>
            <span data-icon="&#xe699;"></span>&nbsp;&nbsp;
            <span>{{:status}}</span>

        </div>

        <div>
            <span data-icon="&#xe6da;"></span>&nbsp;&nbsp;
            <span>{{:email}}</span>

        </div>

        {{if city}}
        <div>
            <span data-icon="&#xe6d1;"></span>&nbsp;&nbsp;
            <span>{{:city}}</span>

        </div>
        {{/if}}


        <div>
            <span data-icon="&#xe679;"></span>&nbsp;&nbsp;
            <span>{{:fbirthdate}}</span>

        </div>
        {{if phone}}
        <div>
            <span data-icon="&#xe6f4;"></span>&nbsp;&nbsp;
            <span>{{:phone}}</span>

        </div>
        {{/if}}
        {{if icq}}
        <div>
            <span data-icon="&#xe763;"></span>&nbsp;&nbsp;
            <span>{{:icq}}</span>

        </div>
        {{/if}}

    </div>
    <div class="navigation"></div>
</div>