﻿<div class="contact" data-id='{{:id}}' data-animation="margin_block_animation" data-scale="true">
    <div class="avatar"><img unselectable="on" {{:~getimgsrc(avatar)}} /></div>
    <div class="nickname">{{:nickname}}</div>
    <div class="flogdate">{{:flogdate}}</div>
    <div class="newmsg">{{if new_msg !== 0}}<div>{{:new_msg}}</div>{{/if}}</div>
    <div style="clear:both"></div>
</div>
