﻿@keyframes show_from_right {
    0% {
        padding-left: 95px;
    }

    100% {
        padding-left: 15px;
    }
}

.main .top .top_wrap
{
    width: 100%;
    height: 50px;
    box-sizing: border-box;

}

.main .top .top_wrap .nickname
{
    width: 70%;
    height: 50px;
    box-sizing: border-box;
    text-align: left;
    color: #3A4859;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    line-height: 50px;
    padding-left: 15px;
    font-size: 18px;

    float: left;

}

.show_from_right_top_nickname
{
    animation: show_from_right 0.7s;
}
.main .top .top_wrap .openleftpanel
{
    width:24px;
    height: 24px;
    float: left;
    box-sizing: border-box;
    margin-top: 13px;
    margin-left: 25px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 24px 24px;
    background-image: url("../../../images/menu.png");
    display: none;
}

.main .top .top_wrap .settings_button
{
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    border: 2px solid #3A4859;
    color: #3A4859;
    border-radius: 50%;
    text-align: center;
    line-height: 22px;
    float: right;
    margin: 12px 15px 7px 0px;
}