﻿.leftpanel {
    width: 350px;
    height: 100%;
    box-sizing: border-box;
    float: left;
    padding: 0px;
    background-color: #EDF2F7;

}

.leftpanel .in_user {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.leftpanel .search {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}

.leftpanel .dialogs {
    width: 100%;
    height: calc(100% - 320px);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}


.leftpanel .adds
{
    width: 100%;
    height: 200px;
    box-sizing: border-box;
    border-top: 1px solid  #464646;
}

.main {
    width: calc(100% - 350px);
    height: 100%;
    box-sizing: border-box;
    float: left;
    padding: 0px;
    overflow-x: hidden;

}

