﻿.friend_data_wrap {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0px 0px 0px 0px;
    position: relative;
     overflow:auto;
    overflow-x:hidden;
   
}


.friend_data_wrap .top_friend_info {

    width:100%;
    height:60px;
    background-color:#4A73A7;
    margin-bottom:15px;
    color:white;
  


}

.friend_data_wrap .friend_left_info {

    width:calc(100% - 80px);
    float:left;
   
    
}



.friend_data_wrap .add_wall_post_friend {
    
    width:60px;
    height:60px;
    float:right;
    padding:8px;
    box-sizing:border-box;
    background-repeat:no-repeat;
    background-position:center;
    background-size:50%;
    cursor:pointer;
    background-image:url('/images/addwallpost.png')
    }

.friend_data_wrap .friend_info_nickname {

        width:100%;
        height:30px;
        line-height:30px;
        font-size:18px;
        padding:0px 15px;
    
    }


.friend_data_wrap .friend_info_flogdate {

        width:100%;
        height:30px;
        line-height:30px;
        font-size:18px;
        padding:0px 15px;
    
    }




.friend_data_wrap .points {
    width: 90%;
    height: 55px;
    margin: 0px 5% 5px 5%;
    overflow: hidden;

}
.friend_data_wrap .points table {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    text-align: center;
    color: white;

}

.friend_data_wrap .points table .karma {
    background-color: #427F00;
    width: 50%;
}

.friend_data_wrap .points .raiting {
    background-color: #4A73A7;
    width: 50%;
}

.friend_data_wrap .avatar {
    width: 90%;
    height: auto;
    margin: 0px 5%;
    overflow: hidden;

}




.friend_data_wrap .avatar > img {
    width: 100%;
    position: relative;

}

.friend_data_wrap .user_short_data {
    width: 270px;
   margin: 5px 15px;
    overflow-x: hidden;
    overflow-y: auto;
  

}

.friend_data_wrap .user_short_data div {
    margin: 9px 6px;
    font-size: 16px;
    color: #608FC1;
    word-break: keep-all;
}





.friend_data_wrap .user_friends_wrap
{

    width: 100%;
    height: 170px;
    box-sizing: border-box;

}
.friend_data_wrap .user_friends_wrap .title
{
    height: 40px;
    box-sizing: border-box;
    color: #6081A6;
    padding-left: 15px;
    line-height: 40px;
}


.friend_data_wrap .user_friends_wrap .friendslist {
    height: 125px;
    width: calc(100% - 30px);
    margin-left: 15px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
    /*background-color: white;*/
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
}
   
.friend_data_wrap .user_friends_wrap .friendslist .friends_wrap .friend_it {
    width: 75px;
    height: 100px;
    border: 2px solid white;
    box-sizing: border-box;
    float: left;
    border-radius: 3px;
    margin: 5px 7px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    padding: 5px;
    color: #464646;
}
.friend_data_wrap .user_friends_wrap .friendslist .friends_wrap .friend_it:hover {

    border: 2px solid #B4B6B8;
}



.friend_data_wrap .user_wall_wrap
{

    width: 100%;
       box-sizing: border-box;

}
.friend_data_wrap .user_wall_wrap .title
{
    height: 40px;
    box-sizing: border-box;
    color: #6081A6;
    padding-left: 15px;
    line-height: 40px;
    width: 70%;
    float: left;
}



.friend_data_wrap .user_wall_wrap .walllist {
   
    width: calc(100% - 30px);
    margin-left: 15px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
    /*background-color: white;*/
    overflow-x: auto;
    overflow-y: hidden;
    /*-ms-overflow-style:  -ms-autohiding-scrollbar;*/
    -ms-overflow-style: none;
}


.friend_data_wrap .user_wall_wrap .walllist .wall_wrap
{
    height: 400px;
}

.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it {
    width: 90%;
    height: calc(100% - 35px);
    box-sizing: border-box;
    float: left;
    border-radius: 3px;
    margin: 10px 5%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 5px;
    background-color: white;
     border: 2px solid #B4B6B8;
    
    color: #464646;
}



.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it:hover
{
    border: 2px solid #B4B6B8;
}

.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info
{
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    padding: 7px;
    float: left;
}






.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it .wall_content
{
    height: calc(100% - 80px);
    width: 100%;
    box-sizing: border-box;
    margin-top: 8px;
    overflow: auto;
    -ms-overflow-style:  -ms-autohiding-scrollbar;
    padding: 7px;
}

.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info .from_us_avatar
{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;

}

.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info .from_us_nickname
{
    width: 150px;
    height: 20px;
    margin-left: 12px;
    color: #78A0CB;
    float: left;
}

.friend_data_wrap .user_wall_wrap .walllist .wall_wrap .wall_it .wall_info .pubdate
{
    width: 150px;
    height: 20px;
    margin-top: 5px;
    margin-left: 12px;
    color: #78A0CB;
    float: left;
}
