﻿.notifications_top {
    width:100%;
    height:60px;
    background-color:#4A73A7;
    box-sizing:border-box;
    color:white;
}

.notifications_top .notifications_logo {

    width:50px;
    height:50px;
    float:right;
    margin:5px;

    box-sizing:border-box;
    background-repeat:no-repeat;
    background-position:center;
    background-size:40px 34px;
    background-image:url("/images/notification.png");
    
    }

.notifications_top .notifications_title {

    width:calc(100% - 60px);
    height:60px;
    float:left;
    line-height:60px;
    color:white;
    box-sizing:border-box;
    padding:0px 10px;
    font-weight:700;
    letter-spacing:1.5px;
    font-family:Arial;
}

.notifications_wrap {
    
    width:100%;
    height:calc(100% - 60px);
    overflow-x:hidden;
    overflow-y:auto;
    box-sizing:border-box;

}

.notifications_wrap .notification_it {

    width:90%;
    height:auto;
    border:2px solid #808080;
    border-radius:3px;
    box-sizing:border-box;
    word-break:keep-all;
    padding:20px;
    margin:15px 5%;

}

