﻿.leftpanel .dialogs .contact
{
    width: 100%;
    height: 60px;
    margin: 0px 0px ;
    box-sizing: border-box;
    background-color: #EDF2F7;
    cursor: pointer;
}

.leftpanel .dialogs .contact:hover {
    background-color: #DAE1E8;


}

.leftpanel .dialogs .contact.active {

    border-right: 3px solid #6081A6;

}

.leftpanel .dialogs .contact .avatar img
{
    width: 50px;
    height: 50px;
    margin: 5px;
    box-sizing: border-box;
    border-radius: 3px;
    float: left;
}

.leftpanel .dialogs .contact .nickname
{
    width: 235px;
    height: 30px;
    box-sizing: border-box;
    color: #6081A6;
    padding-left: 9px;
    padding-top: 5px;
    float: left;
}
.leftpanel .dialogs .contact .flogdate
{
    width: 235px;
    height: 28px;
    color: #6081A6;
    padding-left: 9px;
    padding-top: 2px;
    box-sizing: border-box;
    float: left;
}

.leftpanel .dialogs .contact .newmsg
{
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-right: 5px;
    box-sizing: border-box;
    float: right;

}
.leftpanel .dialogs .contact .newmsg > div
{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: white;
    text-align: center;
    line-height: 40px;
    background-color: #8BC25D;
    border-radius: 50%;

}

